.modal {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	width: 200vh;
	max-width: 100%;
	margin: auto;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	backdrop-filter: blur(4px);
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.modalContainer{
  /* display: flex; */
	/* justify-content: space-around; */
	border: 1px solid white;
	border-radius: 10px;
	height: 80vh;
	max-width: 100%;
	position: relative;
	top: 0;
	left: 0;
	color: white;
	z-index: 99909;
   margin: 0px 50px;
}
.image{
   margin: 0px auto;
   width: 800px;
   height: 400px;
   max-width: 100%;
   position: relative;
   top: 10px;
   left: 200px;
}