* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	
}

body {
	font-family: LivesportFinderLatin,Adjusted Arial Fallback,Arial,sans-serif,
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	color: white;
background: rgb(51,127,231);
background: radial-gradient(circle, rgba(51,127,231,0.927608543417367) 42%, rgba(255,255,255,1) 90%);
	letter-spacing: 0.5px;
	overflow: auto;
	overflow-x: hidden;
	height: 100vh;
}

a{
	color: white;
}
